.env
__pycache__/
*.py[cod]
.venv
.DS_Store
.vscode/
*/dev.db
app/api/file_routes.py
app/forms/file_form.py

client_secret_999490583406-kmhbsp276j11t7n51u3paog74k6lur2n.apps.googleusercontent.com.json
