.reviews-contain {
    margin: 2rem;
    display: grid;
    align-content: center;
    text-align: center;
  }

  .no-reviews {
    margin: 2rem;
    align-content: center;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
}

  .review {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
  }
