.reviews-contain {
  row-gap: 40px;
  width: auto;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  align-content: center;
  text-align: center;
  }

  .no-reviews {
    margin: 2rem;
    align-content: center;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
}

  .review {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
  }
