/* TODO: Add sitewide styles */
* {
    border: 0;
    /* padding: 0; */
    margin: 0;
    font-family: cursive;
}

.err-msg {
    color: red;
    margin-bottom: 10px;
}

label {
    border: 2px;
}

button:hover {
    cursor: pointer;
}

.disabled {
    font-size: 15px;
    margin: 10px;
    /* height: 100%; */
    width: auto;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px;
    background-color: #afdfdf;
    transition: background-color 0.3s ease;
}

.disabled:hover {
    cursor: not-allowed;
}

.success {
    font-size: 15px;
    margin: 10px;
    /* height: 100%; */
    width: auto;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px;
    background-color: #c6286d;
    transition: background-color 0.3s ease;
}

.success:hover {
    background-color: #e73b8e;
    cursor: pointer;
}
