.login-modal {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
  }

  .login-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    gap: 10px;
  }

  .login-labels {
    width: 25rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    }

  .login-inputs {
    width: 100%;
    margin: 5px 0;
    border: 1px black solid;
    background-color: #dee7e4;
  }

  .login-inputs:focus {
    border-color: #5c8374;
    box-shadow: 0 0 10px #5c8374;
    outline: none;
  }

  .demo-user {
    font-size: 15px;
    margin-bottom: 10px;
    width: auto;
    height: 50px;
    padding: 10px;
    color: white;
    background-color: #c6286d;
    border: black solid 1px;
  }
