.login-modal {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
}

.login-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  gap: 10px;
}

.login-labels {
  position: relative;
  width: 25rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px 0;
  }

.login-inputs {
  width: 100%;
  margin: 5px 0;
  border: 1px black solid;
  background-color: #dee7e4;
}

.login-inputs:focus {
  border-color: #5c8374;
  box-shadow: 0 0 10px #5c8374;
  outline: none;
}

.demo-user {
  font-size: 15px;
  margin-bottom: 10px;
  width: auto;
  height: 50px;
  padding: 10px;
  border-radius: 10px;
  color: white;
  background-color: #c6286d;
  font-weight: bolder;
  text-transform: uppercase;
}

.demo-user:hover {
  background-color: #e73b8e;
  color: #27282d;
  transition: background-color 0.3s;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.demo-user:not(:hover) {
  background-color: #c6286d;
  color: white;
  transition: background-color 0.3s;
}

.floating-placeholders {
  position: absolute;
  pointer-events: none; /* We don't want the label to be recognized on hover or click */
  top: -20px;
  left: 10px
}

.login-inputs:focus+.floating-placeholders {
  top: -10.5px
}
