#products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 40px;
    width: auto;
    margin: 0 auto;
    padding-top: 20px;
    padding-left: 10px;
    box-sizing: border-box;
}

.product-card {
    border-radius: 1em;
    width: 300px;
    padding: 15px;
    box-shadow: 2px 2px 3px 3px gray;
}

.product-img:hover {
    box-shadow: 2px 2px 3px 3px gray;
    cursor: pointer;
  }

#curr-title, #new-product {
    margin-left: 45px;
}

.edit-or-delete {
    display: flex;
    justify-content: space-evenly;
}

.edit-or-delete button {
    margin: 2rem;
    padding: 10px;
    background-color: #27282d;
    color:  white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  }

#update-btn, .product-price {
    margin-left: 5px;
    /* margin-bottom: 5px; */
}

.product-img {
    width: 300px;
    height: 200px;
}

#confirm-delete {
    display: flex;
    flex-direction: column;
    padding: 8px;
    /* max-width: 300px; */
}

#confirm-delete>h2, span {
    align-self: center;
}

#new-product:hover, .edit-or-delete>*:last-child, #update-btn {
    cursor: pointer;
}
